<!-- RENDERING A BLOG POST WITH TITLE, USER THAT POSTED, DATE CREATED, AND TEXT -->
<section>
  <div class="row post-div">
    <a href="/posts/{{id}}">
      <header class="col s12">
        <div class="row title-byline">
          <h3 class="col s12 l7 post-title">{{title}}</h3>
          <p class="col s12 l5 post-byline">posted by {{user.name}} on {{format_date date_created}}</p>
        </div>
      </header>
      <div class="col s12 post-text"> 
        <p>{{text}}</p>
      </div>
    </a>
  </div>
</section>